<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <%= link_to "Atsuzon", items_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><%= link_to "Home", items_path, class: "nav-link active", 'area-current': :page %></li>
        <li class="nav-item"><%= link_to "Admin Dashboard", admin_items_path, class: "nav-link active", 'area-current': :page %></li>
      </ul>
    </div>
  </div>
</nav>
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Atsuzon</h1>
    </div>
  </div>
</header>
<div class="container">
  <main class="my-3">
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Your cart</span>
          <span class="badge bg-primary rounded-pill"><%= @cart.cart_items.length %></span>
        </h4>
        <ul class="list-group mb-3">
          <% @cart.cart_items.each do |cart_item| %>
            <li class="list-group-item d-flex align-items-center justify-content-between lh-sm">
              <div class="flex-grow-1">
                <h6 class="my-0"><%= cart_item.item.name %></h6>
                <small class="text-body-secondary"><%= cart_item.item.description %></small>
              </div>
              <span class="text-body-secondary me-3">Quantity: <%= cart_item.quantity %>, ¥<%= cart_item.calculate_price %></span>
              <div>
                <%= link_to "Delete", "/cart/#{cart_item.id}", class: 'btn btn-danger', data: { turbo_method: "delete" } %>
              </div>
            </li>
          <% end %>
          <li class="list-group-item d-flex align-items-center justify-content-between lh-sm">
            <div class="flex-grow-1">
              <h6 class="my-0 text-success">Promo code</h6>
              <small class="text-body-secondary">EXAMPLECODE</small>
            </div>
            <span class="text-success me-3"></span>
            <div>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          </li>
          <li class="list-group-item d-flex align-items-center justify-content-between lh-sm">
            <div class="flex-grow-1">
              <span>Total (JPY)</span>
            </div>
            <div>
              <strong>¥ <%= @total_price %></strong>
            </div>
          </li>
        </ul>
        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </form>
      </div>
      <div class="col-md-7 col-lg-8">
        <h2 class="mb-3">Billing Address</h2>
        <%= form_with model: @order, url: orders_path, method: :post, class: "needs-validation", html: { novalidate: true } do |f| %>
            <div class="row g-3">
              <div class="col-sm-6">
                <%= f.label :first_name, "First name", class: "form-label" %>
                <%= f.text_field :first_name, class: "form-control", id: "firstName", placeholder: "", value: "", required: true %>
                <div class="text-danger">
                  <%= @messages.full_messages_for(:first_name).join(", ") if @messages %>
                </div>
              </div>
              <div class="col-sm-6">
                <%= f.label :last_name, "Last name", class: "form-label" %>
                <%= f.text_field :last_name, class: "form-control", id: "lastName", placeholder: "", value: "", required: true %>
                <div class="text-danger">
                  <%= @messages.full_messages_for(:last_name).join(", ") if @messages %>
                </div>
              </div>
              <div class="col-12">
                <%= f.label :email, "Email", class: "form-label" %>
                <%= f.text_field :email, class: "form-control", id: "email", placeholder: "you@example.com", required: true %>
                <div class="text-danger">
                  <%= @messages.full_messages_for(:email).join(", ") if @messages %>
                </div>
              </div>
              <div class="col-12">
                <%= f.label :address, "Address", class: "form-label" %>
                <%= f.text_field :address, class: "form-control", id: "address", placeholder: "1234 Main St", required: true %>
                <div class="text-danger">
                  <%= @messages.full_messages_for(:address).join(", ") if @messages %>
                </div>
              </div>
              <div class="col-12">
                <%= f.label :address_2, "Address 2 (Optional)", class: "form-label"  %>
                <%= f.text_field :address_2, class: "form-control", id: "address2", placeholder: "Apartment or suite", required: true %>
                <div class="text-danger">
                  <%= @messages.full_messages_for(:address_2).join(", ") if @messages %>
                </div>
              </div>
              <div class="col-md-5">
                <%= f.label :country, "Country", class: "form-label"  %>
                <%= f.select :country, [["japan", "japan"]], {include_blank: "Choose..."}, class: 'form-control', id: "country", required: true %>
                <div class="text-danger">
                  <%= @messages.full_messages_for(:country).join(", ") if @messages %>
                </div>
              </div>
              <div class="col-md-4">
                <%= f.label :state, "State", class: "form-label"  %>
                <%= f.select :state, [["hokkaido", "hokkaido"], ["aomori", "aomori"], ["iwate", "iwate"], ["miyagi", "miyagi"], ["akita", "akita"], ["yamagata", "yamagata"], ["fukushima", "fukushima"], ["ibaraki", "ibaraki"], ["tochigi", "tochigi"], ["gunma", "gunma"], ["saitama", "saitama"], ["chiba", "chiba"], ["tokyo", "tokyo"], ["kanagawa", "kanagawa"], ["yamanashi", "yamanashi"], ["nagano", "nagano"], ["niigata", "niigata"], ["toyama", "toyama"], ["ishikawa", "ishikawa"], ["fukui", "fukui"], ["gifu", "gifu"], ["shizuoka", "shizuoka"], ["aichi", "aichi"], ["mie", "mie"], ["shiga", "shiga"], ["kyoto", "kyoto"], ["osaka", "osaka"], ["hyogo", "hyogo"], ["nara", "nara"], ["wakayama", "wakayama"], ["tottori", "tottori"], ["shimane", "shimane"], ["okayama", "okayama"], ["hiroshima", "hiroshima"], ["yamaguchi", "yamaguchi"], ["tokushima", "tokushima"], ["kagawa", "kagawa"], ["ehime", "ehime"], ["kochi", "kochi"], ["fukuoka", "fukuoka"], ["saga", "saga"], ["nagasaki", "nagasaki"], ["kumamoto", "kumamoto"], ["oita", "oita"], ["miyazaki", "miyazaki"], ["kagoshima", "kagoshima"], ["okinawa", "okinawa"]], {include_blank: "Choose..."}, class: 'form-control', id: "country", required: true %>
                <div class="text-danger">
                  <%= @messages.full_messages_for(:state).join(", ") if @messages %>
                </div>
              </div>
              <div class="col-md-3">
                <%= f.label :zip, "Zip", class: "form-label"  %>
                <%= f.text_field :zip, class: "form-control", id: "zip", placeholder: "", required: true %>
                <div class="text-danger">
                  <%= @messages.full_messages_for(:zip).join(", ") if @messages %>
                </div>
              </div>
            </div>
            <hr class="my-4">
            <h4 class="mb-3">Payment（Credit Card）</h4>
            <div class="row gy-3">
              <div class="col-md-6">
                <label for="cc-name" class="form-label">Name on card</label>
                <input type="text" class="form-control" id="cc-name" placeholder="" disabled>
                <small class="text-body-secondary">Full name as displayed on card</small>
              </div>
              <div class="col-md-6">
                <label for="cc-number" class="form-label">Credit card number</label>
                <input type="text" class="form-control" id="cc-number" placeholder="" disabled>
              </div>
              <div class="col-md-3">
                <label for="cc-expiration" class="form-label">Expiration</label>
                <input type="text" class="form-control" id="cc-expiration" placeholder="" disabled>
              </div>
              <div class="col-md-3">
                <label for="cc-cvv" class="form-label">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="" disabled>
              </div>
            </div>
            <hr class="my-4">
          <%= f.submit "Buy now", class: "w-100 btn btn-primary btn-lg" %>
        <% end %>
      </div>
    </div>
  </main>
</div>
<%= render 'footer' %>
